/get_stock_info/stock_data/*.csv
/get_stock_info/stock_data/*.pkl
/get_stock_info/get_exchange_data/exchange_data/*.csv
/get_stock_info/stock_data_backup*
*/setting.py
*environment.txt
*/cron_setting.txt
/draw_graph/graphs/*.png
.python-version
helper/keys/*

__pycache__
log
result
.DS_store
*.zip
*.log
.ipynb_checkpoints/
