/get_stock_info/stock_data/*.csv
/get_stock_info/get_exchange_data/exchange_data/*.csv
*/setting.py
*environment.txt
*/cron_setting.txt
/draw_graph/graphs/*.png
.python-version


__pycache__
log
result
