backtesting
cryptocompare
google-cloud-storage
investpy==1.0.3
joblib
jupyter
jsm
keras
logzero
lxml
matplotlib
mlfinlab
mpl_finance
numpy
pandas
pytest
Quandl
requests
sklearn
tensorflow==2.1.0
tables
xlrd
YahooFinanceSpider==0.3
