backtesting
cryptocompare
google-cloud-storage
investpy
joblib
jupyter
jsm
keras
logzero
lxml
matplotlib
mlfinlab
mpl_finance
numpy
pandas
pytest
Quandl
requests
sklearn
tensorflow==2.4.0
tables
xlrd
YahooFinanceSpider
